
.mat-card {
  padding: 12px 0;

  .content {
    &__owner {

    }

    &__descr {
      max-height: 60px;
      overflow: auto;
    }
  }

  &-header-star {
    margin-right: 16px;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  &-button {
    background: blue;
    color: #ffffff;

    &-cancel {
      display: none;
      background: #ffffff;
    }
  }
}


