
.mat-card {
  padding: 12px 0;

  .content {
    &__owner {

    }

    &__descr {
      max-height: 60px;
      overflow: auto;
    }
  }

  &-header-star {
    margin-right: 16px;
  }

  &-button {
    background: blue;
    color: #ffffff;
  }
}

