.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 680px) {
  .container {
    display: block;
    position: relative;

    &__item:nth-child(2) {
      position: fixed;
      left: 17px;
      top: 192px;
      width: 320px;
      z-index: 100;

    }
  }
}
