<div class="full-table mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
  <!-- <table mat-table [dataSource]="data$|async"> -->
    <ng-container matColumnDef="full_name">
      <th mat-header-cell *matHeaderCellDef> Repo </th>
      <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
    </ng-container>
    <ng-container matColumnDef="stargazers_count">
      <th mat-header-cell *matHeaderCellDef> Stars </th>
      <td mat-cell *matCellDef="let element"> {{element.stargazers_count}} </td>
    </ng-container>
    <ng-container matColumnDef="fav">
      <th mat-header-cell *matHeaderCellDef> Fav </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.fav" class="star-yellow" aria-hidden="true">star</mat-icon>
        <mat-icon *ngIf="!element.fav" class="star-white" aria-hidden="true">star</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="cardSelect(row)"></tr>
  </table>

  <mat-paginator [length]="dataSource.data.length || 0" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
